# Ignore Vscode Workspace configuration
*.code-workspace

Sprint Template/
Coisas adicionais/
.venv/
*.env
*.config
*/credentials

# Ignore sprint 6 CSVs
Sprint 6/Desafios/data/*.csv

# Ignore sprint 7 CSVs
Sprint 7/Exercícios/Ex2/nomes.csv

# Ignore sprint 8 CSVs
Sprint 8/Desafios/*.csv
Sprint 8/Desafios/*.json

# Not ignore
!**/aws_parameters.env